.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  pointer-events: none;
}
.red {
  background-color: #fe8282;
}

.green {
  background-color: #7bffa3;
}

.yellow {
  background-color: #ffe371;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
